# Mission to Mars

In [1]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pymongo
import os
import time
from splinter import Browser

In [2]:
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## NASA

In [4]:
# URL of the pages to be scraped
nasaurl = 'https://mars.nasa.gov/news/'
#browser
browser.visit(nasaurl)
#define the html
time.sleep(1)
#define the soup
html=browser.html
#soup=bs(html,'html.parser')
# Retrieve page with requests module
nasaresponse = requests.get(nasaurl)

#Create BeautifulSOup object; parse with 'lxml'

nasasoup = BeautifulSoup(nasaresponse.text,'lxml')

In [5]:
# Retrieve data from Nasa website
title=nasasoup.find('div',class_='content_title').text
nasapara=nasasoup.find('div',class_='rollover_description_inner').text
#nasatitle=allnews.find('class' ='content-title')[0].text
print(title)
print(nasapara)

NASA's InSight Places First Instrument on Mars



In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

## JPL

In [10]:
# Scrape JPL website
# URL of the pages to be scraped
JPLurl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
#browser
browser
browser.visit(JPLurl)
#define the html
time.sleep(1)
#define the soup
html=browser.html
#soup=bs(html,'html.parser')
# Retrieve page with requests module
JPLresponse = requests.get(JPLurl)

#Create BeautifulSOup object; parse with 'lxml'

JPLsoup = BeautifulSoup(JPLresponse.text,'lxml')

In [11]:
# Retrieve data from JPL website
feat_image=JPLsoup.find('h2',class_='brand_title').text
JPLimg=JPLsoup.find('a',class_='button fancybox')['data-fancybox-href']
print(feat_image)
print(JPLimg)

				  FEATURED IMAGE

/spaceimages/images/mediumsize/PIA00063_ip.jpg

In [12]:
JPLimg2=JPLsoup.find('article', class_='carousel_item')['style']
print(JPLimg2)

background-image: url('/spaceimages/images/wallpaper/PIA00063-1920x1200.jpg');

## Mars Weather

In [15]:
# Scrape Mars weather website
# URL of the pages to be scraped
Weatherurl = 'https://twitter.com/marswxreport?lang=en'
#browser
browser
browser.visit(Weatherurl)
#define the html
time.sleep(1)
#define the soup
html=browser.html
#soup=bs(html,'html.parser')
# Retrieve page with requests module
Weatherresponse = requests.get(Weatherurl)

#Create BeautifulSOup object; parse with 'lxml'

Weathersoup = BeautifulSoup(Weatherresponse.text,'lxml')

Sol 2283 (2019-01-07), high -9C/15F, low -71C/-95F, pressure at 8.25 hPa, daylight 06:44-18:55

## Mars Facts

In [18]:
# Scrape mars facts website
Factsurl = 'https://space-facts.com/mars/'
browser
browser.visit(Factsurl)
time.sleep(1)
html=browser.html
#soup=bs(html,'html.parser')
Factsresponse = requests.get(Factsurl)

# Create delicious soup

Factssoup = BeautifulSoup(Factsresponse.text,'lxml')

In [19]:
tables = pd.read_html(Factsurl)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
df = tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
mars_df = df.set_index('Description')
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [22]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'